.container{
  display:flex;
  border: 1px solid black;
  background-color: rgba(21, 122, 73, 1);
  width: 100%;
  height: 60px;
  justify-content: center;
  justify-content: space-around;
  color: white;
}
.tab{
  align-items: center;
  cursor:pointer;
}