.container{
    display:flex;
    border: 1px solid black;
    background-color: rgb(59, 140, 156);
    width: 100%;
    height: 60px;
    justify-content: center;
    justify-content: space-around;
    color: white;
  }
  .tab{
    align-items: center;
    cursor:pointer;
  }
  a{
      text-decoration: none;
      color: white;
  }